.navbar {
    background-color: #22527D;
}

.navbar-brand span {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.6px;
}

.card {
    border-radius: 12px;
}

.card:hover {
    cursor: pointer;
    background-color: #97BDDE;
}

.navbar-brand img {
    width: 15%;
}