* {
    font-family: 'Poppins', sans-serif;
}

.bg-login {
    background-image: url("../img/bg-login.jpg");
    background-size: cover;
}

.wrapper .wrapper-login {
    padding: 0 20px 0 20px;
}

.main .main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row .row-login {
    width: 900px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.navbar {
    background-color: #22527D;
}

.navbar-brand span {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.6px;
}

.dashboard .card {
    border-radius: 12px;
}

.dashboard .card:hover {
    cursor: pointer;
    background-color: #97BDDE;
}

.navbar-brand img {
    width: 15%;
}